html, body {
	margin: 0;
	padding: 0;
	color: #F0F1F1;
	background: #4A4D4E;
}

@import "example/less/topcoat-select.less";

h2, h3 {
  font-weight: 300;
}

.container {
	//max-width: 700px;
	margin: 0 auto;

	a {
		color: #288edf;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	header {
		position: relative;

		&:before {
			content: '';
			width: 100%;
			display: block;
			position: absolute;
			left: 0;
			top: 23px;
		}
	}

	.wrapper {
		padding: 30px;
	}

	.github-button { color: transparent; }

	.code, .code:focus {
		max-height: 350px;
		margin-right: 20px;

		border-radius: .5em;
  	border: .3em solid hsl(0, 0%, 33%);
  	box-shadow: 1px 1px .5em black inset;
  	margin: 0;
  	overflow: auto;
  	padding: 1em;
  	background: hsl(0, 0%, 8%);
  	color: white;
  	direction: ltr;
  	font-family: Consolas, Monaco, 'Andale Mono', monospace;
  	text-align: left;
  	text-shadow: 0 -.1em .2em black;
  	white-space: pre;
  	word-spacing: normal;
  	word-break: normal;
  	line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    width: 95%;
	}

	#input-area {
		display: none;
	}

	.outputs {
		clear: both;
		padding-bottom: 40px;
	}

	.output {
		width: 49%;
		vertical-align: top;
		display: inline-block;
		min-width: 600px;
	}

}

@media (min-width:900px) {
  #map {
	width: 60%;
	height: 100%;
  }

  #controls {
	width: 40%;
  }

  #controls .control.range {
	display: inline-block;
  }
}
